main{
    border: 1px solid black;
    background-color: rgb(167, 167, 235);
}

.casa{
    border: 1px solid blue;
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    line-height: 150px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
body{
    display: flex;
    justify-content: center;
}